{% extends "base.html" %}
{% block content %}

<p>【１、現在登録中の顧客一覧】</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">顧客ID</th>
      <th scope="col">顧客名</th>
      <th scope="col">年齢</th>
      <th scope="col">性別</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers%}
    <tr>
      <th scope="row">{{customer.customer_id}}</th>
      <td>{{customer.customer_name}}</td>
      <td>{{customer.age}}</td>
      <td>{{customer.gender}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br />
<br />

<p>顧客新規登録</p>

<form action="/add_customer" method="POST">
    <div class="row mb-3">
      <label for="input-customer-id" class="col-sm-2 col-form-label">顧客ID</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-customer-id" name="input-customer-id"/>
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-customer-name" class="col-sm-2 col-form-label">顧客名</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="input-customer-name" name="input-customer-name" />
      </div>
    </div>
    <div class="row mb-3">
      <label for="input-age" class="col-sm-2 col-form-label">年齢</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="input-age" name="input-age"/>
      </div>
    </div>
    <fieldset class="row mb-3">
      <legend class="col-form-label col-sm-2 pt-0">性別</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input 
            class="form-check-input" 
            type="radio" 
            name="input-gender" 
            id="gender-male" 
            value="男性" 
            />
          <label class="form-check-label" for="gender-male">
            男性
          </label>
        </div>
        <div class="form-check">
            <input 
              class="form-check-input" 
              type="radio" 
              name="input-gender" 
              id="gender-female" 
              value="女性" 
              />
            <label class="form-check-label" for="gender-female">
              女性
            </label>
          </div>
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">登録</button>
  </form>


<br/>
<br/>

<p>【３，抽出】</p>

<form action="/select_gender" method="POST" id="result">
  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">抽出する性別を選択</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <input 
          class="form-check-input" 
          type="radio" 
          name="input-gender2" 
          id="gender-male2" 
          value="男性" 
          checked
          />
        <label class="form-check-label" for="gender-male2">
          男性
        </label>
      </div>
      <div class="form-check">
          <input 
            class="form-check-input" 
            type="radio" 
            name="input-gender2" 
            id="gender-female2" 
            value="女性" 
            />
          <label class="form-check-label" for="gender-female2">
            女性
          </label>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <label class="col-form-label col-sm-2 pt-0">顧客ID検索</label>
    <div class="col-sm-10">
      <div class="col-sm-5">
          <input 
            class="form-control" 
            type="text" 
            name="input-id" 
            id="cus-id" 
          />
      </div>
    </div>
    <br/>
    <br/>
    <label class="col-form-label col-sm-2 pt-0">顧客名検索</label>
    <div class="col-sm-10">
      <div class="col-sm-5">
          <input 
            class="form-control" 
            type="text" 
            name="input-name" 
            id="cus-name" 
          />
      </div>
    </div>
    <br/>
    <br/>
    <label class="col-form-label col-sm-2 pt-0">年齢範囲</label>
    <div class="col-sm-10">
      <div class="col-sm-2">
          <input 
            class="form-control" 
            type="number" 
            name="input-age1" 
            id="cus-age1" 
          />
          <div>~</div>
          <input 
            class="form-control" 
            type="number" 
            name="input-age2" 
            id="cus-age2" 
          />
      </div>
    </div>

</fieldset>

<button type="submit" class="btn btn-primary">抽出</button>
<br>
<br>
{% include "1-2_result_select_gender.html" %}

</form>


{% endblock %}